body {
    background-image: url('images/backgrounda.jpg');
}
.game-canvas {
    background-image: url('images/kosmosa.jpeg');
}
.game {
    /*background-image: url('images/cosmos.jpeg'); */
    background-image: url('images/body-background.jpeg');
    margin-top: 7.5%;
    padding-bottom: 15px;
}
.game-scores, .game-info {
    background-image: url('images/images.jpg');
}
.game-header {
    padding-bottom: 9px;
}
h2, li, label {
    font-family: Yanone Kaffeesatz Regular, Ariel, Sans-serif;
    color: white;
    padding-left: 1%;
}
#score {
    margin-bottom: 20px;
}
#lblLevel {
    margin-top: -21px;
}
.level-label, .score-label {
    float: right;
    margin-right: 10px;
    margin-top: -42px;
}
h1 {
    color: white;
    padding-left: 3%;
    text-align: center;
    font-family: Yanone Kaffeesatz Regular, Ariel, Sans-serif;
    margin-bottom: -9px;
}
.buttons {
    margin-top: 104%;
    width: 100%;
}
.game, .game-header, .game-canvas, .game-scores, .game-info {
    border: 1px solid white;
}
#btnStartStop, #btnRestart {
padding: 13px;
background: black;
color: white;
font-weight: bold;
font-size: 14px;
width: 148px;
}
#btnRestart {
    margin-top: 27%;
}
#btnRestart:hover {
background: white;
cursor: pointer;
color: black;
text-shadow: 1px 1px black;
}
#btnStartStop:hover {
background: white;
cursor: pointer;
color: black;
text-shadow: 1px 1px black;
}
footer {
margin: 0px;
color: white;
margin-top: -17px;
margin-bottom: -5px;
padding-top: 4px;
font-weight: bolder;
text-align: center;
}
#foot {
    margin: 0px;
}
