section, header, h1, aside, h2, ol, li, canvas, label, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-image: url('images/html_backgroudn.jpg');
    background-size: cover;
    font-family: 'Audiowide', cursive;
}
